name: damtd-env
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
    - tensorflow==2.12.0
    - numpy
    - pandas
    - scikit-learn
    - matplotlib
    - pyyaml
    - tqdm
